<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" contect="alpha1e0">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/wip.css">
        <link rel="shortcut icon" href="static/favicon.ico"/>
        <link rel="bookmark" href="static/favicon.ico"/>
        <title>Wiper-渗透测试工具</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Wiper</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a aria-expanded="false" href="#wip-tab-project" id="wip-tab-button-project" data-toggle="tab">项目列表</a>
                        </li>
                        <li>
                            <a aria-expanded="true" href="#wip-tab-project-detail" id="wip-tab-button-detail" data-toggle="tab">项目详情</a>
                        </li>
                        <li>
                            <a aria-expanded="true" href="#wip-tab-auto-task" id="wip-tab-button-autotask" data-toggle="tab">常用工具</a>
                        </li>
                        <li>
                            <a aria-expanded="true" href="#wip-tab-setup" id="wip-tab-button-setup" data-toggle="tab">设置</a>
                        </li>
                    </ul>
                    <!--<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a aria-expanded="true" href="#wip-tab-setup" id="wip-tab-button-setup" data-toggle="tab">设置</a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <!-- 标签页 -->
            <div class="tab-content">
                <!-- tab project -->
                <div id="wip-tab-project" class="tab-pane row-fluid active">
                    <div class="col-md-3">
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">项目列表<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="wip-button-project-levelsort">按level排序</a></li>
                                    <li><a href="#" id="wip-button-project-namesort">按名称排序</a></li>
                                    <li><a href="#" id="wip-button-project-timesort">按时间排序</a></li>
                                </ul>
                            </div>
                            <button id="wip-button-project-refresh" type="button" class="btn btn-success" title="刷新项目列表">
                                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                            </button>
                            <button id="wip-button-project-add" type="button" class="btn btn-success" title="添加项目">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                        <hr />
                        <div id="wip-project-list-column">
                            <!-- project list column-->
                        </div>
                    </div>  
                    <div class="col-md-5">
                        <div>
                            <span class="btn btn-primary">项目详情</span>
                        </div>
                        <hr />
                        <div id="wip-project-detail-column">
                            <!-- project detail column-->
                        </div>
                    </div>
                </div>

                <!-- tab detail -->
                <div id="wip-tab-project-detail" class="tab-pane row-fluid">
                    <!-- site information-->                
                    <div class="col-md-3">
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Host列表<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="wip-button-host-levelsort">按level排序</a></li>
                                    <li><a href="#" id="wip-button-host-ipsort">按IP排序</a></li>
                                    <li><a href="#" id="wip-button-host-urlsort">按URL排序</a></li>
                                </ul>
                            </div>
                            <button id="wip-button-host-refresh" type="button" class="btn btn-success" title="刷新Host列表">
                                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                            </button>
                            <button id="wip-button-host-add" type="button" class="btn btn-success" title="添加Host">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                        <hr />
                        <div id="wip-host-list-column">
                            <!-- host list column-->
                        </div>
                    </div>
                    <!-- port information-->  
                    <div class="col-md-3">
                        <div>
                            <div class="btn-group">
                                <button id="wip-button-host-detail" type="button" class="btn btn-primary">Host详情</button>
                            </div>
                            <div class="btn-group">
                                <button id="wip-button-vul-list" type="button" class="btn btn-success">漏洞列表</button>
                            </div>
                            <div class="btn-group">
                                <button id="wip-button-comment-list" type="button" class="btn btn-success">备注列表</button>
                            </div>
                        </div>
                        <hr />
                        <div id="wip-host-detail-column">
                            <!-- host detail/vul list/comment list column-->
                        </div>
                    </div>
                    <!-- vul information--> 
                    <div class="col-md-6">
                        <div id="wip-button-vul-group">
                            <span class="btn btn-primary">详情页面</span>
                        </div>
                        <hr />
                        <div id="wip-vul-detail-column">
                            <!-- vul detail/comment detail column-->
                        </div>
                    </div>
                </div>

                <!--tab auto task-->
                <div id="wip-tab-auto-task" class="tab-pane row-fluid">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 sidebar">
                            <ul class="nav nav-sidebar">
                                <li><a id="wip-button-autotask-subdomainscan" href="#">子域名扫描</a></li>
                                <li><a id="wip-button-autotask-subnetscan" href="#">C段扫描</a></li>
                                <li><a id="wip-button-autotask-servicerecognize" href="#">服务识别</a></li>
                                <!--<li><a id="wip-button-autotask-vulscan" href="#">弱点扫描</a></li>-->
                            </ul>
                            <hr class="thin" />
                            <ul class="nav nav-sidebar">
                                <li><a id="wip-button-autotask-search" href="#">常用搜索</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                            <div id="wip-autotask-subdomainscan">
                                <h3><span class="label label-primary">子域名扫描:</span></h3>
                                <hr >
                                <form id="wip-form-autotask-subdomainscan">
                                    <div class="form-group has-error">
                                        <label for="wip-form-autotask-subdomainscan-domain">输入域名：</label>
                                        <input type="text" name="domain" class="form-control" id="wip-form-autotask-subdomainscan-domain" placeholder="aaa.com">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="zonetrans" value="true" checked="checked">域传送漏洞检测/利用
                                        </label>
                                        <label>
                                            <input type="checkbox" name="googlehacking" value="true" checked="checked">google hacking
                                        </label>
                                        <label>
                                            <input type="checkbox" name="dnsbrute" value="true" checked="checked">字典爆破
                                        </label>
                                    </div>
                                    <hr class="thin" />
                                    <div class="form-group">
                                        <label class="control-label">选择字典<i>(可在设置页面中上传字典，缺省情况下使用默认字典)</i>:</label>
                                        <select id="wip-form-autotask-subdomainscan-dictselect" class="form-control" name="dictlist" multiple="multiple">
                                        </select>
                                    </div>
                                    <hr class="thin" />
                                    <button type="submit" class="btn btn-success">开始任务</button>
                                </form>
                            </div>
                            <div id="wip-autotask-subnetscan">
                                <h3><span class="label label-primary">C段扫描:</span></h3>
                                <hr >
                                <form id="wip-form-autotask-subnetscan">
                                    <div class="form-group">
                                        <label class="control-label">选择以下IP进行C段扫描:</label>
                                        <select id="wip-form-autotask-subnetscan-ipselect" class="form-control" name="iplist" multiple="multiple">
                                        </select>
                                    </div>
                                    <div>
                                        <button title="删除IP" class="btn btn-default" type="button" id="wip-form-button-autotask-subnetscan-ipdel">删除IP</button>
                                    </div><br />
                                    <div id="wip-form-buttongroup-autotask-subnetscan">
                                        <div class="form-group">
                                            <input type="text" id="wip-form-input-autotask-subnetscan-ipadd" class="form-control" placeholder="223.5.5.5">
                                        </div>
                                        <button title="添加IP" class="btn btn-default" type="button" id="wip-form-button-autotask-subnetscan-ipadd">手动添加IP</button>
                                    </div>
                                    <hr class="thin" />
                                    <button type="submit" class="btn btn-success">开始任务</button>
                                </form>
                                <hr >
                                <h3><span class="label label-warning">C段扫描暂存结果:</span></h3>
                                <hr class="thin" />
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>IP</th>
                                            <th>Protocol</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tbody id="wip-table-autotask-subnetscan-tmphostlist">
                                    </tbody>
                                </table>
                            </div>
                            <div id="wip-autotask-servicerecognize">
                                <h3><span class="label label-primary">服务识别:</span></h3>
                                <hr >
                                <form id="wip-form-autotask-servicerecognize">
                                    <div class="form-group has-error">
                                        <label for="wip-form-autotask-servicerecognize-domain">输入域名或IP：</label>
                                        <input type="text" name="domain" class="form-control" id="wip-form-autotask-servicerecognize-domain" placeholder="aaa.com">
                                    </div>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="type" value="0" checked>使用内置端口列表
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="type" value="1" checked>忽略端口扫描
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="type" value="2">使用nmap默认端口列表
                                    </label>
                                    <!--<label class="checkbox-inline">
                                        <input type="radio" name="type" value="3">扫描1-65535端口
                                    </label>-->
                                    <hr class="thin" />
                                    <button type="submit" class="btn btn-success">开始任务</button>
                                </form>
                            </div>
                            <!--<div id="wip-autotask-vulscan">
                                <h3><span class="label label-primary">弱点扫描:</span></h3>
                                <hr >
                                <form id="wip-form-autotask-vluscan">
                                    <div class="form-group has-error">
                                        <label for="wip-form-autotask-vluscan-domain">输入域名或IP：</label>
                                        <input type="text" name="domain" class="form-control" id="wip-form-autotask-vluscan-domain" placeholder="aaa.com">
                                    </div>
                                    <hr class="thin" />
                                    <button type="submit" class="btn btn-success">开始任务</button>
                                </form>
                            </div>-->
                            <div id="wip-autotask-search">
                                <h3><span class="label label-primary">常用搜索:</span></h3>
                                <hr >
                                <div class="form-group has-error">
                                    <label for="wip-form-autotask-search">Exploit搜索：</label>
                                    <input type="text" name="domain" class="form-control" id="wip-form-autotask-search" placeholder="aaa.com">
                                </div>
                                <button title="搜索Exploit" class="btn btn-success" type="button" id="wip-form-button-autotask-search">搜索Exploit</button>
                                <hr class="thin" />
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <!--tab setup-->
                <div id="wip-tab-setup" class="tab-pane row-fluid">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 sidebar">
                            <ul class="nav nav-sidebar">
                                <li><a id="wip-button-setup-db" href="#">数据库设置</a></li>
                                <li><a id="wip-button-setup-dict" href="#">字典设置</a></li>
                                <li><a id="wip-button-setup-else" href="#">其他设置</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                            <div id="wip-setup-db">
                                <h3><span class="label label-primary">选择数据库:</span></h3>
                                <hr >
                                <form id="wip-form-setup-db">
                                    <div class="form-group has-error">
                                        <label for="wip-form-setup-db-select">选择以下列表中的数据库进行操作:</label>
                                        <div>
                                            <select id="wip-form-setup-db-select" class="form-control" name="database" >
                                            </select>
                                        </div>
                                    </div>
                                    <div id="wip-form-buttongroup-setup-db">
                                        <div class="form-group">
                                            <input type="text" id="wip-form-input-setup-db-dbadd" class="form-control" placeholder="wiper.db">
                                        </div>
                                        <button title="添加数据库" class="btn btn-default" type="button" id="wip-form-button-setup-db-dbadd">手动添加数据库</button>
                                    </div>
                                    <hr class="thin" />
                                    <button type="submit" class="btn btn-success">提交选择</button>
                                </form>
                            </div>
                            <div id="wip-setup-dict">
                                <h3><span class="label label-primary">字典设置:</span></h3>
                                <hr >
                                <form id="wip-form-setup-dict">
                                    <div class="form-group">
                                        <label for="wip-form-input-setup-dict" class="col-md-2 control-label">选择字典文件:</label>
                                        <div class="col-md-10">
                                            <input id="wip-form-input-setup-dict" name="dictfile" type="file" value="">
                                        </div>
                                    </div>
                                    <br /><br />
                                    <label class="checkbox-inline">
                                        <input type="radio" name="type" value="0" checked>DNS爆破字典
                                    </label>
                                    <hr class="thin" />
                                    <button type="submit" class="btn btn-success">上传</button>
                                </form>
                            </div>
                            <div id="wip-setup-else">
                                <h3><span class="label label-primary">其他设置:</span></h3>
                                <hr >
                                <form id="wip-form-setup-else-nmap">
                                    <div class="form-group has-error">
                                        <label for="wip-form-setup-else-nmap-path">默认路径找不到nmap时，在下面输入nmap绝对路径：</label>
                                        <input type="text" name="nmappath" class="form-control" id="wip-form-setup-else-nmap-path" placeholder="C:\Program Files\Nmap\nmap.exe">
                                    </div>
                                    <button type="submit" class="btn btn-success">提交</button>
                                    <hr class="thin" />
                                </form>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <strong>项目:&nbsp;</strong><span id="wip-title-project" class="text-danger">project</span><span>&nbsp;&nbsp;&nbsp;</span>
                <strong>主机:&nbsp;</strong><span id="wip-title-host" class="text-danger">host</span><span>&nbsp;&nbsp;&nbsp;</span>
                <strong>漏洞:&nbsp;</strong><span id="wip-title-vul" class="text-danger">vul</span><span>&nbsp;&nbsp;&nbsp;</span>
                <strong>备注:&nbsp;</strong><span id="wip-title-comment" class="text-danger">comment</span><span>&nbsp;&nbsp;&nbsp;</span>
                <span class="copyright"><a href="https://github.com/alpha1e0" target="_blank">Powered by alpha1e0</a></span>
            </div>
        </div>

        <!--project modal-->
        <div id="wip-modal-project" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-project-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-project-title">添加/修改项目</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-project">
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-project-id" class="col-md-2 control-label">ID</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-project-id" name="id" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-project-name" class="col-md-2 control-label">项目名称:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-project-name" name="name" type="text" class="form-control" maxlength="100" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-project-url" class="col-md-2 control-label">URL:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-project-url" name="url" type="text" class="form-control" placeholder="xxx.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-project-ip" class="col-md-2 control-label">IP地址:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-project-ip" name="ip" type="text" class="form-control" placeholder="10.1.15.163">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-project-whois" class="col-md-2 control-label">Whois:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-project-whois" name="whois" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-project-description" class="col-md-2 control-label">描述:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-project-description" name="description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="4" checked> 提示
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="3"> 一般
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="2"> 重要
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="1"> 关键
                            </label>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--host modal-->
        <div id="wip-modal-host" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-host-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-host-title">添加/修改HOST</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-host">
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-host-id" class="col-md-2 control-label">ID:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-id" name="id" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-host-url" class="col-md-2 control-label">URL:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-url" name="url" type="text" class="form-control" placeholder="xxx.com">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-host-ip" class="col-md-2 control-label">IP地址:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-ip" name="ip" type="text" class="form-control" placeholder="10.1.15.163">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-title" class="col-md-2 control-label">Title:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-title" name="title" type="text" class="form-control" placeholder="xxx网站">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-port" class="col-md-2 control-label">端口:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-port" name="port" type="number" min=1 max=65535 class="form-control" placeholder="80">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-protocol" class="col-md-2 control-label">协议类型:</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="protocol" >
                                        <option value="http">http</option>
                                        <option value="https">https</option>
                                        <option value="ftp">ftp</option>
                                        <option value="ssh">ssh</option>
                                        <option value="telnet">telnet</option>
                                        <option value="smtp">smtp</option>
                                        <option value="vnc">vnc</option>
                                        <option value="rdp">rdp</option>
                                        <option value="mysql">mysql</option>
                                        <option value="sqlserver">sqlserver</option>
                                        <option value="oracle">oracle</option>
                                        <option value="other">other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-os" class="col-md-2 control-label">OS信息:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-os" name="os" type="text" class="form-control" placeholder="windows server 2008">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-server_info" class="col-md-2 control-label">服务信息:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-server_info" name="server_info" type="text" class="form-control" placeholder="Apache 2.6.3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-middleware" class="col-md-2 control-label">中间件:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-middleware" name="middleware" type="text" class="form-control" placeholder="java struts">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-description" class="col-md-2 control-label">描述:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-host-description" name="description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="4" checked> 提示
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="3"> 一般
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="2"> 重要
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="1"> 关键
                            </label>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--vul modal-->
        <div id="wip-modal-vul" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-vul-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-vul-title">添加/修改漏洞</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-vul">
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-vul-id" class="col-md-2 control-label">ID</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-vul-id" name="id" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-vul-name" class="col-md-2 control-label">名称:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-vul-name" name="name" type="text" class="form-control" placeholder="路径遍历">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-vul-url" class="col-md-2 control-label">URL:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-vul-url" name="url" type="text" class="form-control" placeholder="路径遍历">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-vul-info" class="col-md-2 control-label">详情:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-vul-info" name="info" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-vul-attachment" class="col-md-2 control-label">附件:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-vul-attachment" name="attachment" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-vul-type" class="col-md-2 control-label">类型:</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="type" >
                                        <option value="1">溢出漏洞</option>
                                        <option value="2">注入漏洞</option>
                                        <option value="3">XSS</option>
                                        <option value="4">CSRF</option>
                                        <option value="5">路径遍历</option>
                                        <option value="6">上传</option>
                                        <option value="7">逻辑漏洞</option>
                                        <option value="8">弱口令</option>
                                        <option value="9">信息泄露</option>
                                        <option value="10">配置错误</option>
                                        <option value="11">认证/会话管理</option>
                                        <option value="12">点击劫持</option>
                                        <option value="13">跨域漏洞</option>
                                        <option value="0">其他</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-vul-description" class="col-md-2 control-label">描述:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-vul-description" name="description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="4" checked> 提示
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="3"> 一般
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="2"> 重要
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="1"> 关键
                            </label>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--comment modal-->
        <div id="wip-modal-comment" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-comment-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-comment-title">添加/修改备注</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-comment">
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-comment-id" class="col-md-2 control-label">ID</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-id" name="id" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-comment-name" class="col-md-2 control-label">名称:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-name" name="name" type="text" class="form-control" placeholder="nmap扫描结果">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-comment-url" class="col-md-2 control-label">URL:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-url" name="url" type="text" class="form-control" placeholder="nmap扫描结果">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-comment-info" class="col-md-2 control-label">详情:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-comment-info" name="info" class="form-control" rows="3"></textarea>
                                </div>
                            </div>                           
                            <div class="form-group">
                                <label for="wip-modal-form-comment-description" class="col-md-2 control-label">描述:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-comment-description" name="description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-comment-attach" class="col-md-2 control-label">附件:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-attach" name="attachment" type="text" value="">
                                </div>
                            </div>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="4" checked> 提示
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="3"> 一般
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="2"> 重要
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="1"> 关键
                            </label>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="wip-modal-attachment" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-attachment-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-attachment-title">添加附件</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-attachment">
                            <div class="form-group">
                                <label for="wip-modal-form-attachment-name" class="col-md-2 control-label">名称:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-attachment-name" name="name" type="text" class="form-control" placeholder="nmap扫描结果">
                                </div>
                            </div>                           
                            <div class="form-group">
                                <label for="wip-modal-form-comment-attachment" class="col-md-2 control-label">附件:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-attachment" name="attachment" type="file" value="">
                                </div>
                            </div>                           
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="static/js/jquery-2.1.4.min.js"></script>
        <script src="static/js/jquery.form.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/main.js"></script>
        <script src="static/js/autotask.js"></script>
        <script src="static/js/setup.js"></script>
    </body>
</html>
