<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" contect="alpha1e0">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/wip.css">
        <link rel="shortcut icon" href="static/favicon.ico"/>
        <link rel="bookmark" href="static/favicon.ico"/>
        <title>Wiper-渗透测试工具</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Wiper</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <li class="active"><a href="#wip-tab-project" id="wip-tab-button-project" data-toggle="tab">安装</a></li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <!-- 标签页 -->
            <div class="tab-content">
                <div class="col-md-3">
                </div>
                <div id="wip-setup-column" class="col-md-6">
                    <h3><span class="label label-primary">填写以下参数完成安装：</span></h3>
                    <hr />
                    <form id="wip-setup-form">
                        <div class="form-group">
                            <label for="wip-setup-form-dbname">数据库名称:</label>
                            <input id="wip-setup-form-dbname" name="dbname" type="text" class="form-control" maxlength="50" placeholder="wiper.db" value="wiper.db">
                        </div>
                        <hr />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">开始安装</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

        <script src="static/js/jquery-2.1.4.min.js"></script>
        <script src="static/js/jquery.form.js"></script>
        <script src="static/js/install.js"></script>
    </body>
</html>
