<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <title>Web Information Probe.</title>
    </head>
    <body>      
        <div class="container-fluid">
            <!-- 导航条部分 -->
            <span class="h1">WIP</span><span>&nbsp;&nbsp;&nbsp;</span>

            <nav class="navbar navbar-inverse">
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#wip-tab-project" id="wip-tab-button-project" data-toggle="tab">安装</a></li>
                  </ul>
                </div>
              </div>
            </nav>
            
            <!-- 标签页 -->
            <div class="tab-content">
                <h3><span class="label label-info">填写以下参数完成安装：</span></h3>
                <hr />
                <form id="wip-setup-form" class="form-horizontal" method="post" action="/install">
                    <div class="form-group">
                        <label for="wip-setup-form-dbtype" class="col-md-4 control-label">数据库类型:</label>
                        <div class="col-md-8">
                            <select class="form-control" name="protocol" >
                                <option value="1">Mysql</option>
                                <option value="2">Sqlite</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbhost" class="col-md-4 control-label">数据库地址:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbhost" name="name" type="text" class="form-control" maxlength="100" placeholder="localhost">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbport" class="col-md-4 control-label">数据库端口:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbport" name="name" type="text" class="form-control" maxlength="100" placeholder="3389">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbuser" class="col-md-4 control-label">数据库用户名:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbuser" name="name" type="text" class="form-control" maxlength="100" placeholder="root">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbpasswd" class="col-md-4 control-label">数据库密码:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbpasswd" name="name" type="text" class="form-control" maxlength="100" placeholder="123456">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbname" class="col-md-4 control-label">数据库名称:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbname" name="name" type="text" class="form-control" maxlength="100" placeholder="wip" value="wip">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--project modal-->
        <div id="wip-modal-project" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-project-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-project-title">添加/修改项目</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-project">
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-project-id" class="col-md-2 control-label">ID</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-project-id" name="id" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-project-name" class="col-md-2 control-label">项目名称:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-project-name" name="name" type="text" class="form-control" maxlength="100" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-project-url" class="col-md-2 control-label">URL:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-project-url" name="url" type="text" class="form-control" placeholder="xxx.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-project-ip" class="col-md-2 control-label">IP地址:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-project-ip" name="ip" type="text" class="form-control" placeholder="10.1.15.163">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-project-whois" class="col-md-2 control-label">Whois:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-project-whois" name="whois" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-project-description" class="col-md-2 control-label">描述:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-project-description" name="description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--host modal-->
        <div id="wip-modal-host" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-host-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-host-title">添加/修改HOST</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-host">
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-host-id" class="col-md-2 control-label">ID:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-id" name="id" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-host-url" class="col-md-2 control-label">URL:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-url" name="url" type="text" class="form-control" placeholder="xxx.com">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-host-ip" class="col-md-2 control-label">IP地址:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-ip" name="ip" type="text" class="form-control" placeholder="10.1.15.163">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-title" class="col-md-2 control-label">Title:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-title" name="title" type="text" class="form-control" placeholder="xxx网站">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-protocol" class="col-md-2 control-label">协议类型:</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="protocol" >
                                        <option value="1">http</option>
                                        <option value="2">https</option>
                                        <option value="3">ftp</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-os" class="col-md-2 control-label">OS信息:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-os" name="os" type="text" class="form-control" placeholder="windows server 2008">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-server" class="col-md-2 control-label">服务信息:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-server_info" name="serverinfo" type="text" class="form-control" placeholder="Apache 2.6.3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-frame" class="col-md-2 control-label">中间件:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-host-middleware" name="middleware" type="text" class="form-control" placeholder="java struts">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-host-description" class="col-md-2 control-label">描述:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-host-description" name="description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="4" checked> 提示
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="3"> 一般
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="2"> 重要
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="1"> 关键
                            </label>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--vul modal-->
        <div id="wip-modal-vul" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-vul-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-vul-title">添加/修改漏洞</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-vul">
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-vul-id" class="col-md-2 control-label">ID</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-vul-id" name="id" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-vul-name" class="col-md-2 control-label">名称:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-vul-name" name="name" type="text" class="form-control" placeholder="路径遍历">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-vul-url" class="col-md-2 control-label">URL:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-vul-url" name="url" type="text" class="form-control" placeholder="路径遍历">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-vul-info" class="col-md-2 control-label">详情:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-vul-info" name="info" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-vul-type" class="col-md-2 control-label">类型:</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="type" >
                                        <option value="1">溢出漏洞</option>
                                        <option value="2">注入漏洞</option>
                                        <option value="3">XSS</option>
                                        <option value="4">CSRF</option>
                                        <option value="5">路径遍历</option>
                                        <option value="6">上传</option>
                                        <option value="7">逻辑漏洞</option>
                                        <option value="8">弱口令</option>
                                        <option value="9">信息泄露</option>
                                        <option value="10">配置错误</option>
                                        <option value="11">认证/会话管理</option>
                                        <option value="12">点击劫持</option>
                                        <option value="13">跨域漏洞</option>
                                        <option value="0">其他</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-vul-description" class="col-md-2 control-label">描述:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-vul-description" name="description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="4" checked> 提示
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="3"> 一般
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="2"> 重要
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="1"> 关键
                            </label>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--comment modal-->
        <div id="wip-modal-comment" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-comment-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-comment-title">添加/修改备注</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-comment">
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-comment-id" class="col-md-2 control-label">ID</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-id" name="id" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="wip-modal-form-comment-name" class="col-md-2 control-label">名称:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-name" name="name" type="text" class="form-control" placeholder="nmap扫描结果">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-comment-url" class="col-md-2 control-label">URL:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-url" name="url" type="text" class="form-control" placeholder="nmap扫描结果">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wip-modal-form-comment-info" class="col-md-2 control-label">详情:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-comment-info" name="info" class="form-control" rows="3"></textarea>
                                </div>
                            </div>                           
                            <div class="form-group">
                                <label for="wip-modal-form-comment-description" class="col-md-2 control-label">描述:</label>
                                <div class="col-md-10">
                                    <textarea id="wip-modal-form-comment-description" name="description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label for="wip-modal-form-comment-attach" class="col-md-2 control-label">附件:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-attach" name="attachment" type="text" value="">
                                </div>
                            </div>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="4" checked> 提示
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="3"> 一般
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="2"> 重要
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="level" value="1"> 关键
                            </label>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="wip-modal-attachment" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="wip-modal-attachment-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="wip-modal-attachment-title">添加附件</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="wip-modal-form-attachment">
                            <div class="form-group">
                                <label for="wip-modal-form-attachment-name" class="col-md-2 control-label">名称:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-attachment-name" name="name" type="text" class="form-control" placeholder="nmap扫描结果">
                                </div>
                            </div>                           
                            <div class="form-group">
                                <label for="wip-modal-form-comment-attachment" class="col-md-2 control-label">附件:</label>
                                <div class="col-md-10">
                                    <input id="wip-modal-form-comment-attachment" name="attachment" type="file" value="">
                                </div>
                            </div>                           
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="static/js/jquery-2.1.4.min.js"></script>
        <script src="static/js/jquery.form.js"></script>
        <script src="static/js/bootstrap.js"></script>
        <script src="static/js/wip.js"></script>
    </body>
</html>
