<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <title>Web Information Probe.</title>
    </head>
    <body>      
        <div class="container-fluid">
            <!-- 导航条部分 -->
            <span class="h1">WIP</span><span>&nbsp;&nbsp;&nbsp;</span>

            <nav class="navbar navbar-inverse">
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#wip-tab-project" id="wip-tab-button-project" data-toggle="tab">安装</a></li>
                  </ul>
                </div>
              </div>
            </nav>
            
            <!-- 标签页 -->
            <div class="tab-content">
                <h3><span class="label label-info">填写以下参数完成安装：</span></h3>
                <hr />
                <form id="wip-setup-form" class="form-horizontal" method="post" action="/install">
                    <div class="form-group">
                        <label for="wip-setup-form-dbtype" class="col-md-4 control-label">数据库类型:</label>
                        <div class="col-md-8">
                            <select class="form-control" name="protocol" >
                                <option value="1">Mysql</option>
                                <option value="2">Sqlite</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbhost" class="col-md-4 control-label">数据库地址:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbhost" name="name" type="text" class="form-control" maxlength="100" placeholder="localhost">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbport" class="col-md-4 control-label">数据库端口:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbport" name="name" type="text" class="form-control" maxlength="100" placeholder="3389">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbuser" class="col-md-4 control-label">数据库用户名:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbuser" name="name" type="text" class="form-control" maxlength="100" placeholder="root">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbpasswd" class="col-md-4 control-label">数据库密码:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbpasswd" name="name" type="text" class="form-control" maxlength="100" placeholder="123456">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="wip-setup-form-dbname" class="col-md-4 control-label">数据库名称:</label>
                        <div class="col-md-8">
                            <input id="wip-setup-form-dbname" name="name" type="text" class="form-control" maxlength="100" placeholder="wip" value="wip">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="static/js/bootstrap.js"></script>
    </body>
</html>
